<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        form{
            width: 400px;
            height: 400px;
            margin: auto;
            margin-top: 50px;
            padding: 40px;
            border: 2px solid black;
            background-color: aqua;
            border-radius: 15px;
            text-align: center;
        }
        form h1{
            color: white;
            text-transform: uppercase;
        }
        input{
            display: block;
            margin-top: 20px;
            margin-left: 45px;
            padding: 10px 15px;
        }
        select{
            text-align: center;
        }
        #submit{
            text-align: center;
            margin-left: 100px;
        }
    </style>
</head>
<body>
    <%- include("navbar") -%>
    <form action="/task/taskcreate" method="post">
        <h1>task</h1>
        <input type="text" name="name" placeholder="enter your name">
        <input type="text" name="title" placeholder="enter your title">
        <input type="url" name="img" placeholder="enter your img">
        <input type="text" name="des" placeholder="enter your des">
        <input type="submit" id="submit">
    </form>
</body>
</html>